<div>
    <form name="kegForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" show-errors='{ showSuccess: true }'>
                    Keg No: <input type="number" class="form-control" name="number" ng-model="keg.kegNo" required>
                </div>
                <p class="help-block" ng-if="kegForm.number.$error.required">The Keg Number is required</p>

                <div class="form-group" show-errors='{ showSuccess: true }'>
                    Destination:  <input type="text" class="form-control" name="destination" ng-model="keg.dest" required>
                </div>
                <p class="help-block" ng-if="kegForm.destination.$error.required">The Keg's Destination is required</p>
            </div>

            <div class="col-md-6">
                <div class="form-group" show-errors='{ showSuccess: true }'>
                    <div class="form-group">
                        <br/>
                        Keg Size:
                        <input type="radio" ng-model="keg.size" value="50" />50L
                        <input type="radio" ng-model="keg.size" value="30" />30L<br/>
                    </div>
                    <br/>
                    Date Sent: <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="keg.dateEntered" name="date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                </p>
                    <p class="help-block" ng-if="kegForm.date.$error.required">The Date Sent is required</p>


                </div>
            </div>
        </div>
        <button class="btn btn-primary" ng-click="addKeg(keg)">Add Keg</button>
    </form>
    <div class="col-md-4">
        <form name="destForm">
            <h3> Add New Destination</h3>
            <div class="form-group">
                Destination Name: <input type="text" class="form-control" name="name" ng-model="dest.name" required>
            </div>
            <button class="btn btn-primary" ng-click="addDestination(dest)">Add new Destination</button>
        </form>
    </div>
</div>