<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <button type="button" class="btn btn-primary" ng-model="showKegs" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Late Kegs
            </button>
        </h4>
    </div>
    <div uib-collapse="!showKegs">
        <div class="panel-body">
            <table st-table="displayedKegs" st-safe-src="lateKegs" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="kegNo">Keg ID</th>
                    <th st-sort="size">Keg Size</th>
                    <th st-sort="dest">Destination</th>
                    <th st-sort="dateEntered">Date Sent</th>
                    <th st-sort="daysLate">Days Late</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="keg in displayedKegs track by $index">
                    <td>{{keg.kegNo}}</td>
                    <td>{{keg.size | addVolume}}</td>
                    <td>{{keg.dest}}</td>
                    <td>{{keg.dateEntered | date : 'mediumDate': 'GMT'}}</td>
                    <td>{{keg.daysLate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>